:root {
    --ctp-text: var(--ctp-mocha-text);
    --ctp-base: var(--ctp-mocha-base);
    --ctp-crust: var(--ctp-mocha-crust);
    --ctp-surface0: var(--ctp-mocha-surface0);
    --ctp-surface1: var(--ctp-mocha-surface1);
    --ctp-mauve: var(--ctp-mocha-mauve);
    --ctp-peach: var(--ctp-mocha-peach);
    --ctp-yellow: var(--ctp-mocha-yellow);
    --ctp-red: var(--ctp-mocha-red);
}

@media (prefers-color-scheme: light) {
    :root {
        --ctp-text: var(--ctp-latte-text);
        --ctp-base: var(--ctp-latte-base);
        --ctp-crust: var(--ctp-latte-crust);
        --ctp-surface0: var(--ctp-latte-surface0);
        --ctp-surface1: var(--ctp-latte-surface1);
        --ctp-mauve: var(--ctp-latte-mauve);
        --ctp-peach: var(--ctp-latte-peach);
        --ctp-yellow: var(--ctp-latte-yellow);
        --ctp-red: var(--ctp-latte-red);
    }
}

body {
    background-color: var(--ctp-base);
    color: var(--ctp-text);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

a {
    color: var(--ctp-text);
    text-decoration: dotted underline;
    text-decoration-color: var(--ctp-red);
}

.header {
    padding: 1rem;
    padding-top: 0;
}

.categories {
    flex: 1;
}

.category {
    padding: 1rem;
}

.category>.books {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.book {
    height: 150px;
    padding: 0.2rem 1rem;
}

.book img {
    height: 95%;
    width: 100px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: var(--ctp-crust);
    color: var(--ctp-text);
    padding: 1rem;
    font-size: medium;
    text-align: center;
}

.footer>p {
    height: 0.7rem;
}